header
    width 460px
    float left
    +tablet()
        width 230px
    +mobile()
        width 100%
        height 85px
        float none
        background $cinzaMarca
        clearfix()
    .logo
        display block
        width 230px
        height 230px
        float left
        background $img('martasa.png') no-repeat center $cinzaMarca
        text-indent -9999px
        +tablet()
            height 180px
        +mobile()
            width 174px
            height 100%
            margin-left 5%
            background-size 100% auto
    nav
        width 230px
        min-height 230px
        float left
        padding 45px 50px 0
        a
            display block
            roboto 13 light
            + a
                margin-top 10px
            &:hover
            &.active
                color $amarelo
            &.active
                &:after
                    content '_'
        .social
            margin-top 20px
            font-size 0
            a
                display inline-block
                width 17px
                height 17px
                text-indent -9999px
                background-repeat no-repeat
                background-position center
                transition transform .3s
                font-size 0
                margin 0
                &:hover
                    transform translateY(-2px)
                &.facebook
                    background-image $img('facebook.png')
                &.instagram
                    background-image $img('instagram.png')
                + a
                    margin-left 5px
        .categorias
            margin-top 65px
            a
                text-transform uppercase
        +above($mobile)
            display block !important
        +tablet()
            min-height auto
            padding 40px 27px
        +mobile()
            display none
            position absolute
            top 85px
            z-index 102
            background $cinzaDetalhe !important
            width 100%
            min-height 0
            text-align center
            padding 30px 5%
            > a
                font-size 14px
            .categorias
                display none
    #mobile-toggle
        +above($mobile)
            display none
        display block
        background-color transparent
        border 0
        position relative
        float right
        margin-right 5%
        height 100%
        width 25px
        outline 0
        padding 0
        cursor pointer
        +tablet()
            padding-bottom 35px
        .lines
            display block
            width 100%
            height 4px
            background $amarelo
            position relative
            transition .3s ease
            &:before
            &:after
                content ""
                display block
                position absolute
                left 0
                width 100%
                height 4px
                background $amarelo
                transition .3s ease
            &:before
                top 8px
            &:after
                top -8px
        &.close
            .lines
                background transparent
                &:before
                &:after
                    transform-origin 50% 50%
                    top 0
                &:before
                    transform rotate3d(0,0,1,45deg)
                &:after
                    transform rotate3d(0,0,1,-45deg)

header.home nav
    background rgba($cinzaBg, .8)
