normalize()

*
*:after
*:before
    box-sizing border-box

::selection
    background black
    color #fff

::-moz-selection
    background black
    color #fff

body
    background $cinzaBg
    color #fff
