.center
    width desktop-base-width
    position relative
    margin 0 auto
    +below($tablet)
        width 90%

.wrapper
    clearfix()
    width 100%

.content
    float left
    width calc('100% - 460px')
    padding 35px 0
    h1
        line-height 1
        roboto 40 light
        margin 0 0 1em
    +tablet()
        width calc('100% - 230px')
        padding-left 45px
        h1
            font-size 32px
    +mobile()
        width 90%
        float none
        margin 0 auto
        padding 25px 0
        h1
            font-size 24px

.not-found
    text-align center
    padding 100px 0
    +mobile()
        padding 80px 0
    h1
        display inline-block
        padding 12px 18px 10px
        border 2px solid $amarelo
        roboto 12
        border-radius 3px
        letter-spacing 1px
        color $amarelo
        text-transform uppercase

.fancybox-overlay
    background rgba(#000, .9)
