desktop-base-width     = 1280px
rupture.desktop-cutoff = $tablet = 1300px
rupture.mobile-cutoff  = $mobile = 768px
rupture.anti-overlap   = -1px

$amarelo         = #CBB571
$amareloDestaque = #D2B969
$cinzaMarca      = #3E403F
$cinzaBg         = #434345
$cinzaDetalhe    = #555557

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700')

roboto($size, $weight = normal)
    font-family 'Roboto', 'Helvetica', 'Arial', sans-serif
    font-size $size px
    font-weight 400
    if $weight == light
        font-weight 300
    if $weight == bold
        font-weight 700
