.clipping
    +above($mobile)
        padding-right 40px
    .clipping-thumbs
        clearfix()
        a
            display block
            position relative
            float left
            width 160px
            height 160px
            margin-right 10px
            margin-bottom 10px
            background $cinzaDetalhe
            overflow hidden
            padding 10px
            transition background .3s
            &:hover
                background #D4B65B
            &.clipping-video
                &:before
                    content ''
                    position absolute
                    bottom 10px
                    left 50%
                    width 17px
                    height 12px
                    margin-left -8px
                    background $img('video.png') no-repeat center
            &.clipping-link
                &:before
                    content ''
                    position absolute
                    bottom 10px
                    left 50%
                    width 16px
                    height 12px
                    margin-left -8px
                    background $img('link.png') no-repeat center
            img 
                display block
                width 100%
            .titulo
                position absolute
                width 100%
                height 100%
                top 0
                left 0
                display flex
                align-items center
                span 
                    display block
                    width 100%
                    text-align center
                    padding 15px
                    roboto 11
                    text-transform uppercase
            +below(840px)
                width calc('33.333% - 6.667px')
                height auto
                img 
                    position absolute
                    width calc('100% - 20px')
                    top 10px
                    left 10px
                &:after
                    content ''
                    display block
                    padding-bottom 100%
                &:nth-child(3n)
                    margin-right 0
            +mobile()
                width calc('50% - 5px')
                &:nth-child(3n)
                    margin-right 10px
                &:nth-child(2n)
                    margin-right 0
