.contato
    clearfix()
    padding-right 40px
    +mobile()
        padding-right 0
    .informacoes
        width 315px
        float left
        padding-right 20px
        p.telefones
            roboto 20 light
            margin 0 0 1em
        p.endereco
            roboto 14 light
            margin 0
        +below($tablet)
            width 100%
        +mobile()
            p.telefones
                margin-bottom 10px
    form
        width calc('100% - 315px')
        float left
        max-width 850px
        clearfix()
        .enviado
        .erro
            background $amarelo
            border-radius 2px
            width 100%
            margin-bottom 15px
            text-align center
            roboto 14
            color $cinzaBg
            padding 15px
        .erro
            background #8a2626
            color #fff
        .col
            width calc('50% - 2px')
            float left
            + .col
                margin-left 4px
            +mobile()
                width 100%
                + .col
                    margin-top 4px
                    margin-left 0
        input
        textarea
            display block
            width 100%
            background $cinzaDetalhe
            border 0
            outline 0
            resize none
            roboto 14
            color #fff
            +placeholder()
                color rgba(#fff, .5)
        input[type=text]
        input[type=email]
            height 30px
            padding 0 8px
            + input 
                margin-top 4px
        textarea
            padding 8px
            height 98px
        input[type=submit]
            display inline-block
            width auto
            float right
            margin-top 4px
            padding 8px 15px
            cursor pointer
            transition background .3s, color .3s
            &:hover
                background $amarelo
                color $cinzaBg
        +below($tablet)
            width 100%
            margin-top 25px
    .mapa
        float left
        width 100%
        height 360px
        margin-top 40px
        iframe 
            display block
            width 100%
            height 100%
        +mobile()
            height 200px
            margin-top 25px
    .copyright
        float left
        width 100%
        margin-top 25px
        p
            roboto 11
            color #fff
            margin 0
            a:hover
                color $amarelo
            +mobile()
                span 
                    display block
                    font-size 0
