.perfil
    clearfix()
    img
        width 50%
        float left
        max-width 455px
        +tablet()
            width 40%
        +mobile()
            width 100%
    .texto
        float left
        width calc('50% - 40px')
        max-width 850px
        margin-left 40px
        padding-top 40px
        padding-right 40px
        +tablet()
            width calc('60% - 40px')
            padding-top 30px
        +mobile()
            width 100%
            padding 25px 0 0
            margin-left 0
        p
            roboto 14
            margin 0
            + *
                margin-top 1em
        h2
            roboto 20
            margin 1em 0
        *:first-child
            margin-top 0
