.projetos
    +above($mobile)
        padding-top 0
    .categorias-mobile
        +above($mobile)
            display none
        margin-bottom 25px
        a
            display block
            roboto 13 light
            text-transform uppercase
            + a
                margin-top 10px
            &:hover
            &.active
                color $amarelo
            &.active
                &:after
                    content '_'
    .projetos-index
        clearfix()
        a
            display block
            position relative
            float left
            margin-bottom 2px
            margin-right 2px
            +below(1980px)
                width calc('20% - 1.6px')
                &:nth-child(5n)
                    margin-right 0
            +below(1680px)
                width calc('25% - 1.5px')
                &:nth-child(5n)
                    margin-right 2px
                &:nth-child(4n)
                    margin-right 0
            +below(1400px)
                width calc('33.333% - 1.333px')
                &:nth-child(4n)
                    margin-right 2px
                &:nth-child(3n)
                    margin-right 0
            +mobile()
                width calc('50% - 1px')
                &:nth-child(3n)
                    margin-right 2px
                &:nth-child(2n)
                    margin-right 0
            img 
                display block
                +below(1980px)
                    width 100%
            .overlay
                display flex
                position absolute
                top 0
                left 0
                width 100%
                height 100%
                background rgba($amareloDestaque, .8)
                align-items center
                opacity 0
                transition opacity .3s
                span 
                    display block
                    width 100%
                    text-align center
                    padding 20px
                    roboto 14
                    text-transform uppercase
                +below($tablet)
                    display none
            &:hover .overlay
                opacity 1
    .projeto-titulo
        padding 35px 0
        padding-right 40px
        display flex
        roboto 14 light
        a
            margin-left auto
            padding-left 40px
            &:hover
                color $amarelo
        +mobile()
            padding 0 0 25px
            display block
            a
                display block
                margin-top 10px
                padding 0
    .projetos-show
        clearfix()
        a
            display block
            position relative
            float left
            margin-bottom 2px
            margin-right 2px
            +below(1980px)
                width calc('16.667% - 1.667px')
                &:nth-child(6n)
                    margin-right 0
            +below(1680px)
                width calc('20% - 1.6px')
                &:nth-child(6n)
                    margin-right 2px
                &:nth-child(5n)
                    margin-right 0
            +below(1400px)
                width calc('25% - 1.5px')
                &:nth-child(5n)
                    margin-right 2px
                &:nth-child(4n)
                    margin-right 0
            +mobile()
                width calc('33.333% - 1.333px')
                &:nth-child(4n)
                    margin-right 2px
                &:nth-child(3n)
                    margin-right 0
            img 
                display block
                +below(1980px)
                    width 100%
            .overlay
                display flex
                position absolute
                top 0
                left 0
                width 100%
                height 100%
                background rgba($amareloDestaque, .8)
                align-items center
                opacity 0
                transition opacity .3s
                span 
                    display block
                    width 100%
                    text-align center
                    padding 20px
                    roboto 14
                    text-transform uppercase
                +below($tablet)
                    display none
            &:hover .overlay
                opacity 1
