.quem-somos
    clearfix()
    img
        width 215px
        float left
        +below($tablet)
            float none
            display block
            margin-top 25px
    .texto
        float left
        width calc('50% - 40px')
        max-width 850px
        margin-right 40px
        padding-right 40px
        +below($tablet)
            float none
            padding 0
            margin 0
        +tablet()
            width calc('100% - 40px')
        +mobile()
            width 100%
            margin-left 0
        p
            roboto 14
            margin 0
            + *
                margin-top 1em
        h2
            roboto 20
            margin 1em 0
        *:first-child
            margin-top 0
